# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**




Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [3]:
nums=[1,2,3,4]
nums

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [1]:
# Method 1 
l=[1,2,3,4]
l

[1, 2, 3, 4]

In [2]:
l.remove(3)
l

[1, 2, 4]

In [5]:
# Method 2
l=[1,2,3,4]
l

[1, 2, 3, 4]

In [24]:
del l[2]
l

[1, 2, 4]

In [14]:
# Method 3
l.pop(2)
l

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [15]:
lst=[2,3,4]
lst

[2, 3, 4]

In [16]:
lst.insert(0,1)
lst

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [37]:
lst

[1, 2, 3, 4]

In [38]:
lst.insert(2,'two-and-half')

In [39]:
lst

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [38]:
# CODE HERE

*convert into list*

In [9]:
phrase="Don't panic!"
phrase

"Don't panic!"

In [16]:
l=list(phrase)
l

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [11]:
l.remove('!')
l

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [44]:
# CODE HERE

In [21]:
l

['D', 'o', 'n', "'", 't', ' ', 'a', 'n', 'i', 'c', '!']

In [23]:
del l[5]
l.remove('a')
l.pop(5)
l.pop(0)
l.extend(['p','a','n','D'])
l

['o', 'n', "'", 't', 'i', 'c', '!', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [ ]:
# CODE HERE

In [67]:
list=['p', 'a', 'n', 'D', 'a']
list

['p', 'a', 'n', 'D', 'a']

In [69]:
print("".join(list))

panDa

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [ ]:
# CODE HERE

In [9]:
tuple=(31,24,35,85)
tuple

(31, 24, 35, 85)

In [83]:
type(tuple)

tuple

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [49]:
# CODE HERE

In [40]:
tuple

(31, 24, 35, 85)

In [41]:
List = list(tuple)
List.remove(35)

In [42]:
List

[31, 24, 85]

In [45]:
tuple=List
print(tuple)

[31, 24, 85]

**Extent** tuple (85,19)

In [ ]:
# CODE HERE

In [47]:
tuple

[31, 24, 85]

In [49]:
tuple_append=(tuple+ [85,19])
print(tuple_append)

[31, 24, 85, 85, 19]

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [ ]:
# CODE HERE

In [51]:
tp1 = ('i','n','n','0')
tp1

('i', 'n', 'n', '0')

In [52]:
print("i" in tp1)

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [3]:
# CODE HERE

In [56]:
list = ['Hello',100,[],'innomatics']
list

['Hello', 100, [], 'innomatics']

In [58]:
list[2]= [200]
print(list)

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [2]:
# CODE HERE
tpl =( "Innomatics" )

In [24]:
tp1=("Innomatics")
tp2=reversed(tp1)
print(tuple(tp2))

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [81]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [9]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [10]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
a=0
b=[]
c=[]
for i in tp1:
    b=list(tp1[a])
    b.append(100)
    c.append(tuple(b))
    a=a+1
c

[(10, 20, 40, 100, 100), (40, 50, 60, 100, 100), (70, 80, 90, 100, 100)]

In [11]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i  in range(0,len(tp1)):
    a=tp1[i]
    b=list(a)
    b.append(100)
    b=tuple(b)
    tp1[i]=b
tp1

[(10, 20, 40, 100, 100), (40, 50, 60, 100, 100), (70, 80, 90, 100, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [ ]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [2]:
tp1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in tp1])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [2]:
# CODE HERE

5 2 4 6 2 2
second higest is : 5

In [7]:
str='5 2 4 6 2 2'
l=list(str)

In [8]:
l=[5,2,4,6,2,2]
l.sort()
print("second highest is:", l[-2])

second highest is: 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [3]:
# CODE HERE

[24, 35, 70, 155]

In [8]:
list=[12,24,35,70,88,120,155]
list= [x for(i,x) in enumerate(list) if i not in (0,4,5)]
print(list)

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [10]:
tp=(1,2,3,4,5,6,7,8,9,10)
tp1=tp[:5]
tp2=tp[5:]
print(tp1)
print(tp2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [13]:
tp=(1,2,3,4,5,6,7,8,9,10)
tp=[x for x in range(1,11) if x%2 == 0]
print(tp)

[2, 4, 6, 8, 10]

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
# Solution

In [ ]:
list[]:it is an ordered collection of items (which may be of same or different types) separated by comma and enclosed in square brackets.it can be used to store homogeneous and heterogeneous elements
list are mutable,ordered,indexing/slicing, and allows duplicate elements. 
Tuple():it looks similar to list.The only difference is that comma separated items of same or different type are enclosed in parentheses. Individual items follow zero based index, as in list or string.Tuples are used to store only heterogeneous elements.
tuples are immutable,ordered,indexing/slicing and allows duplicate elements.

### 2. Explain the difference between append() and extend() with examples

In [ ]:
# Solution

In [ ]:
append() - adds a single element to the end of the list
extend() - add multiple individual elements to the end of the list

In [93]:
#append()
x=[1,2,3,4]
x.append(5)
x

[1, 2, 3, 4, 5]

In [95]:
#extend()
x=[1,2,3,4]
x.extend([5,6])
x

[1, 2, 3, 4, 5, 6]

### 3. Explain the difference between pop() and remove() with examples

In [ ]:
# Solution

In [ ]:
remove() : removes() the first matching value or object, not a specific indexing.
pop() : pop() removes the item at a specific index and returns it.

In [97]:
#remove()
list=[10,20,30,40,'hello']
list.remove(30)
print(list)

[10, 20, 40, 'hello']

In [100]:
#pop()
list =[100, 300, 400,550,600,550]
list.pop(3)
print(list)

[100, 300, 400, 600, 550]