# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [ ]:
# CODE HERE

In [1]:
person1={'Gender': 'Male',
         'Location': 'Nizampet,Hyderabad',
         'Name': 'John',
         'Occupation': 'Data Scientist'}
person1

{'Gender': 'Male',
 'Location': 'Nizampet,Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [2]:
# CODE HERE

In [3]:
person1={ 'Name': 'John',
         'Gender': 'Male',
         'Occupation': 'Data Scientist',
         'Location': 'Nizampet,Hyderabad'}
person1.keys()

dict_keys(['Name', 'Gender', 'Occupation', 'Location'])

> **`Question:` Remove Location in person1**

In [4]:
# CODE HERE

In [5]:
person1={'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist',
'Location': 'Nizampet,Hyderabad'}
person1.pop('Location')
person1

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [6]:
# CODE HERE

In [7]:
person2={'Age' : '25',
         'Gender': 'Male',
         'Name': 'Raghu Ram',
         'Occupation' : 'Data Scientist'}
person2

{'Age': '25',
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [8]:
# CODE HERE

In [9]:
person1= {'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
person2={'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}
print(person1)
print(person2)

{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [10]:
# CODE HERE

In [11]:
d={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [12]:
d.clear()
d

{}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [13]:
# CODE HERE

In [14]:
dict={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
a = sorted(dict.items(), key=lambda x: x[1], reverse=True)
print(a)

[(9, 81), (7, 49), (5, 25), (3, 9), (1, 1), (0, 0)]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [15]:
# CODE HERE

In [16]:
#using | operator 
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
(dict1 | dict2 | dict3)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [17]:
#using ** operator
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
({**dict1, **dict2,**dict3})

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [18]:
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [19]:
dict1.update(dict2)
dict1
dict1.update(dict3)
dict1

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charanâ€™s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [20]:
# CODE HERE
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}
sample_dict['emp3']['salary'] = 8500
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key â€˜historyâ€™ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [21]:
# CODE HERE
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [22]:
print(sampleDict['class']['student']['marks']['history'])

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [23]:
# CODE HERE
dict1={'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}
dict1['Area']=dict1.pop('Location')
dict1

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [24]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
for key1,val1 in database.items():
    name=input("enter name:")
    password=int(input("enter the password:"))
    if key1==name and val1==password:
        print("hello{}",format(key1))
    else:
        print("please my username to database")
        database.update({name:password})
        print(database)
        break

enter name:ram
enter the password:1234
hello{} ram
enter name:raghu
enter the password:5678
hello{} raghu
enter name:kanav
enter the password:1357
hello{} kanav

In [7]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
keys=((database.keys()))
k=list(keys)
values=((database.values()))
v=list(values)
username=input('enter username :')
password=int(input('enter password :'))
for i in range(len(k)):
    if(username==k[i]):
        for j in range(len(v)):
            if(password==v[j]):
                print('Hello',k[i])
                break
            else:
                continue
for i in range(len(k)):
    if(username!=k[i] and password!=k[i]):
        print('do you want to add into the database')
        decision=input('yes/no :')
    if(decision=='yes' or decision=='yes'):
        database[username]=password
        print('updated database:',database)
        break
    else:
        break

enter username :Ram
enter password :1255
do you want to add into the database
yes/no :yes
updated database: {'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'Ram': 1255}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)